<div class="container">
  <br>
  <h1>{{ title }}</h1>
  <hr>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Variable</th>
      <th scope="col">Pipe</th>
      <th scope="col">Pipe applied</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ name }}</td>
      <td>Uppercase</td>
      <td>{{ name | uppercase }}</td>
    </tr>
    <tr>
      <td>{{ name }}</td>
      <td>Lowercase</td>
      <td>{{ name | lowercase }}</td>
    </tr>
    <tr>
      <td>{{ name }}</td>
      <td>Slice:3</td>
      <td>{{ name | slice:3 }}</td>
    </tr>
    <tr>
      <td>{{ name }}</td>
      <td>Slice:0:3</td>
      <td>{{ name | slice:0:3 }}</td>
    </tr>
    <tr>
      <td>{{ arrayNumbers }}</td>
      <td>Slice:1:5</td>
      <td>{{ arrayNumbers | slice:1:4 }}</td>
    </tr>
    <tr>
      <td>{{ PI }}</td>
      <td>number '3.0-0'</td>
      <td>{{ PI | number:'3.0-0' }}</td>
    </tr>
    <tr>
      <td>{{ PI }}</td>
      <td>number '1.0-2'</td>
      <td>{{ PI | number:'1.0-2' }}</td>
    </tr>
    <tr>
      <td>{{ PI }}</td>
      <td>number '1.0-5'</td>
      <td>{{ PI | number:'1.0-5' }}</td>
    </tr>
    <tr>
      <td>{{ aNumber }}</td>
      <td>Percentage '2.2-3'</td>
      <td>{{ aNumber | percent:'2.2-3' }}</td>
    </tr>
    <tr>
      <td>{{ salary }}</td>
      <td>currency</td>
      <td>{{ salary | currency }}</td>
    </tr>
    <tr>
      <td>{{ salary }}</td>
      <td>currency:'EUR'</td>
      <td>{{ salary | currency:'EUR' }}</td>
    </tr>
    <tr>
      <td>{{ salary }}</td>
      <td>currency:'EUR':true:'4.2-2':'es'</td>
      <td>{{ salary | currency:'EUR':true:'4.2-2':'es' }}</td>
    </tr>
    <tr>
      <td>{{ promiseValue }}</td>
      <td>async</td>
      <td>{{ promiseValue | async }}</td>
    </tr>
    <tr>
      <td>{{ actualDate }}</td>
      <td>date:'medium'</td>
      <td>{{ actualDate | date:'medium' }}</td>
    </tr>
    <tr>
      <td>{{ actualDate }}</td>
      <td>date:'MMMM - dd':'Atlantic/Canary':'es' </td>
      <td>{{ actualDate | date:'MMMM - dd':'Atlantic/Canary':'es' }}</td>
    </tr>
    <tr>
      <td>{{ actualDate }}</td>
      <td>date:'short'</td>
      <td>{{ actualDate | date:'short':'Atlantic/Canary':'es' }}</td>
    </tr>
    <tr>
      <td>{{ capitalizeMe }}</td>
      <td>capitalize</td>
      <td>{{ capitalizeMe | capitalize }}</td>
    </tr>
    </tbody>
  </table>

  <h3>Slice List</h3>
  <ul>
    <li *ngFor="let item of arrayNumbers | slice:1:4">{{ item }}</li>
  </ul>
  <h3>Hero</h3>
  <pre>{{ hero | json }}</pre>
  <h3> Youtube <small>video</small> </h3>
  <iframe width="560" height="315" [src]="video | safetyDom:'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

